.venv

# Electron example
.electron_runs/
/.electron_runs_smoke/
examples/electron_app/node_modules/
examples/electron_app/.cache/
examples/electron_app/dist/
examples/electron_app/build/
examples/electron_app/resources/python/**/docreader-runner*
!examples/electron_app/resources/python/**/.gitkeep

examples/electron_app/resources/tesseract/**
!examples/electron_app/resources/tesseract/**/.gitkeep
